
<div class="form-group">
  <%= f.label :Name , :class => "col-xs-12", style:"padding-left:0px;"%>
  <%= f.select :name, options_for_select(current_user.admin? ? Deal.pluck(:name) : current_user.deals.pluck(:name),selected: @company.name.present? ? @company.name : ''), {:include_blank => true}, {:multiple => false, :class => "js-example-basic-single col-xs-12", :label => false,:style => "margin-left:25px;", :data => {:placeholder => ' select visa type details'}}%>  <span class="help-block"><i>* This field is required</i><span>
</div>
<div class="form-group">
  <%= f.label :visa_or_ticket , :class => "col-xs-12", style:"padding-left:0px;"%>
  <%= f.select :visa_or_ticket, options_for_select(['Visa', 'Ticket'],selected: @company.visa_or_ticket.present? ? @company.visa_or_ticket : ''), {:include_blank => true}, {:multiple => false, :class => "js-example-basic-single col-xs-12", :label => false,:style => "margin-left:25px;", :data => {:placeholder => ' select visa or ticket'}}%>  <span class="help-block"><i>* This field is required</i><span>
</div>

<div class="form-group">
  <%= f.label :Buy_Or_Sell , :class => "col-xs-12", style:"padding-left:0px;"%>
  <%= f.select :bye_or_sell, options_for_select(['Buy', 'Sell'],selected: @company.bye_or_sell.present? ? @company.bye_or_sell : ''), {:include_blank => true}, {:multiple => false, :class => "js-example-basic-single col-xs-12", :label => false,:style => "margin-left:25px;", :data => {:placeholder => ' Buy Or Sell'}}%>  <span class="help-block"><i>* This field is required</i><span>
</div>

<div class="form-group">
  <%= f.label :Quantity %>
  <%= f.number_field :quantity, class: "form-control", placeholder: "Enter Quantity", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>

<div class="form-group">
  <%= f.label :Sale_Price %>
  <%= f.number_field :salePrice, class: "form-control", placeholder: "Enter Amount", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>
<div class="form-group">
  <%= f.label :Paid_Amount %>
  <%= f.number_field :paidAmount, class: "form-control", placeholder: "Enter Amount", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>
<div class="form-group">
  <%= f.label :Actual_Cost %>
  <%= f.number_field :actualCost, class: "form-control", placeholder: "Enter Actual Cost", required: true %>
  <span class="help-block"><i>* This field is required (leave blank if you are editing and don't want to change the password)</i><span>
</div>

<div class="form-group">
  <%= f.label :Description %>
  <%= f.text_field :description, class: "form-control", placeholder: "Enter 
  description", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>








