      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3><%=Visit.sum(:paidAmount) + Ticket.sum(:paidAmount)%> </h3>

              <p>Amount Received(Visa+Ticket)</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><%= Visit.sum(:actualCost) + Ticket.sum(:actual_price)%> </h3>

              <p>Total Cost (Visa + Ticket)</p>
            </div>
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3><%=Visit.sum(:debitAmount) + Ticket.sum(:debit)%> </h3>
              <p>Total Debit (Visa + Ticket )</p>
            </div>
            <div class="icon">
              <i class="fa fa-dollar"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3><%= Visit.sum(:profit) + Ticket.sum(:margin)%></h3>

              <p>Total Margin (Visa + Ticket )</p>
            </div>
            <div class="icon">
              <i class="fa fa-euro"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- 
      </div>
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-blue">
            <div class="inner">
              <h3><%= Visit.sum(:paidAmount)%></h3>

              <p>Total Paid Amount</p>
            </div>
            <div class="icon">
              <i class="fa fa-rupee"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      -->
      </div>

<!--
            <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><strong>Report</strong></h3>

            
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  
                 <div class="table-responsive">
                <table class="table no-margin table-bordered">
                  <thead>
                  <tr>
                    <th>Visa</th>
                    <th></th>
     
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Total Visa</td>
                    <td><%=Visit.sum(:quantity)%></td>
                 
                  </tr>
                  <tr>
                    <td>Visit visa</td>
                    <td><%=Visit.where(visaType: 'Visit Visa').sum(:quantity)%></td>
                
                  </tr>
                  <tr>
                    <td>Mofa</td>
                    <td><%=Visit.where(visaType: 'Umra Visa(Mofa only)').sum(:quantity)%></td>

                  </tr>
                  <tr>
                    <td> Mofa+ Accomodation</td>
                    <td><%=Visit.where(visaType: 'Umra Visa(Mofa + Accomodation)').sum(:quantity)%></td>

                  </tr>
                  <tr>
                    <td>Mofa + Accomodation + Ticket</td>
                    <td><%=Visit.where(visaType: 'Umra Visa(Mofa + Accomodation + Ticket)').sum(:quantity)%></td>
                  </tr>
                  <tr>
                    <td>Total Sale Amount</td>
                    <td><%=Visit.sum(:salePrice)%></td>

                  </tr>
                  <tr>
                    <td>Total Paid Amount</td>
                    <td><%=Visit.sum(:paidAmount)%></td>

                  </tr>
                  <tr>
                    <td>Total Actual Cost</td>
                    <td><%=Visit.sum(:actualCost)%></td>

                  </tr>
                  <tr>
                    <td>Total Margin</td>
                    <td><%=Visit.sum(:profit)%></td>

                  </tr>
                  <tr>
                    <td>Total Deibt</td>
                    <td><%=Visit.sum(:debitAmount)%></td>

                  </tr>
                  
                  </tbody>
                </table>
              </div>
            </div>
           
                  
                <div class="col-md-6">
                <div class="table-responsive">
                <table class="table no-margin table-bordered">
                  <thead>
                  <tr>
                    <th>Ticket</th>
                    <th></th>
     
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Total Ticket</td>
                    <td><%=Ticket.sum(:quantity)%></td>
                 
                  </tr>
                  <tr>
                    <td>Child</td>
                    <td><%=Ticket.sum(:child)%></td>
                
                  </tr>
                  <tr>
                    <td>Adult</td>
                    <td><%=Ticket.sum(:adult)%></td>

                  </tr>
                  <tr>
                    <td>Infant</td>
                    <td><%=Ticket.sum(:infant)%></td>

                  </tr>
                  <tr>
                    <td>Total Sale Amount</td>
                    <td><%=Ticket.sum(:sale_price)%></td>

                  </tr>
                  <tr>
                    <td>Total Paid Amount</td>
                    <td><%=Ticket.sum(:paidAmount)%></td>

                  </tr>
                  <tr>
                    <td>Total Actual Cost</td>
                    <td><%=Ticket.sum(:actual_price)%></td>

                  </tr>
                  <tr>
                    <td>Total Margin</td>
                    <td><%=Ticket.sum(:margin)%></td>

                  </tr>
                  <tr>
                    <td>Total Deibt</td>
                    <td><%=Ticket.sum(:debit)%></td>

                  </tr>
                  
                  </tbody>
                </table>
              </div>
               
                </div>
              </div>
            </div>
-->
     




<!--

            <div class="box-footer">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                    <h5 class="description-header">$35,210.43</h5>
                    <span class="description-text">TOTAL REVENUE</span>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                    <h5 class="description-header">$10,390.90</h5>
                    <span class="description-text">TOTAL COST</span>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                    <h5 class="description-header">$24,813.53</h5>
                    <span class="description-text">TOTAL PROFIT</span>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border"  style="background-color: #3c3c3c;">
                                <h3 class="box-title"> <span style="color:white;">Report</span></h3>

                                <div class="box-tools pull-right">
                                    <button type="button" style="color:white;" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                                    
                                    <button type="button" style="color:white;" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="background-color: #3c3c3c;" >
                                <div class="row">
                                          <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header" style="background-color: #093145;">
              
              <!-- /.widget-user-image -->
                            <h3 style="color:white;">Visa</h3>

            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked" style="background-color:ghostwhite;">
                <li ><a href="#"><span style="color:black;">Visa = Adult+Child+Infant)</span><span class="pull-right badge bg-blue"><%=Visit.sum(:quantity)%> = <%=Visit.sum(:adult)%> + <%= Visit.sum(:child)%> + <%= Visit.sum(:infant)%></span></a></li>
                <li><a href="#"><span style="color:black;">Visit visa</span> <span class="pull-right badge bg-blue"><%=Visit.where(visaType: 'Visit Visa').sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Mofa</span> <span class="pull-right badge bg-blue"><%=Visit.where(visaType: 'Umra Visa(Mofa only)').sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Mofa+ Accomodation</span> <span class="pull-right badge bg-blue"><%=Visit.where(visaType: 'Umra Visa(Mofa + Accomodation)').sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Mofa + Accomodation + Ticket</span> <span class="pull-right badge bg-blue"><%=Visit.where(visaType: 'Umra Visa(Mofa + Accomodation + Ticket)').sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Sale Amount</span> <span class="pull-right badge bg-blue"><%=Visit.sum(:salePrice)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Paid Amount</span> <span class="pull-right badge bg-blue"><%=Visit.sum(:paidAmount)%></span></a></li>
               
                <li><a href="#"><span style="color:black;">Total Actual Cost</span> <span class="pull-right badge bg-blue"><%=Visit.sum(:actualCost)%></span></a></li>
               
                <li><a href="#"><span style="color:black;">Total Margin</span> <span class="pull-right badge bg-blue"><%=Visit.sum(:profit)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Deibt</span> <span class="pull-right badge bg-blue"><%=Visit.sum(:debitAmount)%></span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header" style="background-color: #093145;">
             
              <!-- /.widget-user-image -->
                            <h3 style="color:white;">Ticket</h3>

            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked" style="background-color:ghostwhite;">
                <li><a href="#"><span style="color:black;">Total Ticket</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Child</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:child)%></span></a></li>
                <li><a href="#"><span style="color:black;">Adult</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:adult)%></span></a></li>
                <li><a href="#"><span style="color:black;">Infant</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:infant)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Sale Amount</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:sale_price)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Paid Amount</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:paidAmount)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Actual Cost</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:actual_price)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Profit</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:margin)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Deibt</span> <span class="pull-right badge bg-blue"><%=Ticket.sum(:debit)%></span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header " style="background-color: #093145;">
              
              <!-- /.widget-user-image -->
              <h3 style="color:white;">Dealing With Companies</h3>
            
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked"  style="background-color:ghostwhite;">
                <li><a href="#"><span style="color:black;">Total Sold Visa</span> <span class="pull-right badge bg-blue"><%=Company.where(["bye_or_sell = ? and visa_or_ticket = ?",  "Sell", "Visa"]).sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Sold Ticket</span> <span class="pull-right badge bg-blue"><%=Company.where(["bye_or_sell = ? and visa_or_ticket = ?",  "Sell", "Ticket"]).sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Companies Paid Amount</span> <span class="pull-right badge bg-blue"><%=Company.where(bye_or_sell: 'Sell').sum(:paidAmount)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Cost</span> <span class="pull-right badge bg-blue"><%=Company.where(bye_or_sell: 'Sell').sum(:actualCost)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Margin</span> <span class="pull-right badge bg-blue"><%=Company.where(bye_or_sell: 'Sell').sum(:profit)%></span></a></li>
                <li><a href="#"><span style="color:black;">Companies Debit</span> <span class="pull-right badge bg-blue"><%=Company.where(bye_or_sell: 'Sell').sum(:debitAmount)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Bought Visa</span> <span class="pull-right badge bg-blue"><%=Company.where(["bye_or_sell = ? and visa_or_ticket = ?",  "Buy", "Visa"]).sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Total Bought Ticket</span> <span class="pull-right badge bg-blue"><%=Company.where(["bye_or_sell = ? and visa_or_ticket = ?",  "Buy", "Ticket"]).sum(:quantity)%></span></a></li>
                <li><a href="#"><span style="color:black;">Your Purchase Amount</span><span class="pull-right badge bg-blue"><%=Company.where(bye_or_sell: 'Buy').sum(:paidAmount)%></span></a></li>
                
                <li><a href="#"><span style="color:black;">Your Debit</span> <span class="pull-right badge bg-blue"><%=Company.where(bye_or_sell: 'Buy').sum(:debitAmount)%></span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>  
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- ./box-body -->
                            <div class="box-footer" style="background-color:#3c3c3c;">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                            <h5 class="description-header">$35,210.43</h5>
                                            <span class="description-text">TOTAL REVENUE</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                            <h5 class="description-header">$10,390.90</h5>
                                            <span class="description-text">TOTAL COST</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-xs-6" >
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                            <h5 class="description-header">$24,813.53</h5>
                                            <span class="description-text">TOTAL PROFIT</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="description-block">
                                            <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                            <h5 class="description-header">1200</h5>
                                            <span class="description-text">GOAL COMPLETIONS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>

