    <!-- Content Header (Page header) -->
  

    <div class="row no-print">
        <div class="col-xs-12">
          
        <%= link_to " Print", print_admin_ticket_path(@ticket), target: "_blank", class: "btn btn-large btn-default fa fa-print", style:"margin-left: 22px;" %>
        <!--
          <button type="button" class="btn btn-success pull-right" style="margin-right: 27px;">
            <i class="fa fa-credit-card"></i> Submit Payment
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>
        </div>
      </div>
      -->

    <!-- Main content -->
     <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <%= image_tag('logo.png', :size => '700x120')%>
        </h2>
      </div>
        <!-- /.col -->
      </div>
      <div class="row">
      <div class="col-xs-9">
       <h4><b>Date: </b> <%= @ticket.updated_at.strftime("%d-%m-%Y")%></h4>
        
      </div>
      <div class="col-xs-3">
       <h4><b>Ref# </b> <%=@ticket.id%></h4>
        
      </div>
      <hr>
        <!-- /.col -->
      </div>
  <!--    <%= image_tag('logo.jpg', :size => '1100x120')%> -->
      <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-7 invoice-col">
        From
        <address>
          <strong>The Fly Way Travel & Tours</strong><br>
          10-k Commercial Markeet Khawaja Bangloz<br>
          Abbasia Town, Rahim Yar Khan , Pakistan<br>
          Fax & Tel: (068)5952036<br>
          Email: theflywaytravels@gmail.com
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-5 invoice-col">
        To
        <address>
          <strong><%= @ticket.name %></strong><br>
          Phone: <%= @ticket.phone %> <br>
         
        </address>
      </div>
      </div>
   
    <!-- /.row -->

    <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Airline </th>
                      <th>Sector</th>
                      <th>Quantity </th>
                    </tr>
                  </thead>

                  <tbody>
                      <tr>
                        
                        <td> <%= @ticket.airline %> </td>
                        <td> <%= @ticket.sector %> </td> 
                        <td> <%= @ticket.quantity %> : (<%= @ticket.adult %> Adult, <%= @ticket.child %> Child, <%= @ticket.infant %> Infant) </td>
                        

                        
                      </tr>
                  </tbody>

                 
                
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Description:</p>
          <p class="text-muted well well-sm no-shadow" style="margin-top: 5px;">
            <%= @ticket.description %>
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Payment Details</p>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th style="width:50%">Total Amount:</th>
                <td><%= @ticket.sale_price%></td>
              </tr>
              <tr>
                <th>Paid Amount</th>
                <td><%= @ticket.paidAmount%></td>
              </tr>
              <tr>
                <th>Remaining Amount</th>
                <td><%= @ticket.debit%></td>
              </tr>
              <tr>
                <th>Status:</th>
                <td><%= @ticket.status%></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
      <div class="col-xs-6">
       <h4><b>Owner Signature :</h4>
        
      </div>
      <div class="col-xs-6">
       <h4><b>Client Signature: </h4>
        
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      
    </section>
    </div>
    </div>
    <!-- /.content -->
   
  <!-- /.content-wrapper -->
    